.centered-container {
    text-align: center;
    margin-top: 50px;
}

.welcome-image-container {
    margin-bottom: 10px;
}

.welcome-image {
    width: 300px;
    height: auto;
    border-radius: 15px;
}
.back-to-login-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

